<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema TopNew</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/responsive.css">
</head>

<body>

    <div id="toast" class="toast hidden"></div>

    <header class="topbar">
        <h1>Sistema TopNew</h1>

        <div class="user-menu">
            <button id="user-btn" class="user-btn">
                Usuário ▾
            </button>

            <div id="user-dropdown" class="user-dropdown hidden">
                <div id="user-email" class="user-email"></div>
                <hr>
                <button id="logout-btn" class="logout-btn">Sair</button>
            </div>
        </div>
    </header>

    <nav class="tabs">
        <button class="tab active" data-tab="pedidos">🧾 Pedidos</button>
        <button class="tab" data-tab="clientes">👤 Clientes</button>
        <button class="tab" data-tab="produtos">📦 Produtos</button>
        <button class="tab" data-tab="estoque">📊 Estoque</button>
    </nav>

    <main class="container">

        <section id="pedidos" class="page active">

            <div class="page-actions">
                <button title="Novo Pedido" id="btn-novo-pedido" data-action="novo-pedido" class="btn primary">
                    + Novo Pedido
                </button>
            </div>

            <div id="form-pedido" class="form-container hidden">
                <h2>Novo Pedido</h2>

                <div class="form-group">
                    <label>Cliente (nome) <span class="campos-obrigatorios">*</span></label>
                    <select id="pedido-cliente" class="form-control select">
                        <option value="">Selecione</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Forma de Pagamento <span class="campos-obrigatorios">*</span></label>
                    <select id="pedido-forma_pagamento" class="form-control select">
                        <option value="">Selecione</option>
                    </select>
                </div>

                <div class="checkbox-group">
                    <label>Pago</label>
                    <input type="checkbox" id="pedido-pago">
                </div>

                <div class="itens-container">
                    <table class="data-table itens-form-table">
                        <thead>
                            <tr>
                                <th>Produto <span class="campos-obrigatorios">*</span></th>
                                <th>Quantidade <span class="campos-obrigatorios">*</span></th>
                                <th>Valor Unitário <span class="campos-obrigatorios">*</span></th>
                                <th>Subtotal <span class="campos-obrigatorios">*</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="itens-pedido-tbody"></tbody>
                    </table>
                </div>

                <div class="pedido-total" style="margin: 1%; text-align: right; margin-right: 8%;">
                    Total do pedido:
                    <strong id="pedido-total">R$ 0,00</strong>
                </div>

                <button title="Cancelar Pedido" id="btn-cancelar-pedido" data-action="cancelar-pedido" class="btn cancel">
                    Cancelar Pedido
                </button>

                <button id="btn-add-item" data-action="adicionar-item" class="btn secondary">
                    + Adicionar Produto
                </button>

                <button title="Salvar Pedido" id="btn-salvar-pedido" data-action="salvar-pedido" class="btn primary">
                    Salvar Pedido
                </button>
            </div>

            <div class="page-header">
                <H1>Pedidos</H1>

                <button title="Recarregar Pedidos" id="btn-recarregar-pedidos" data-action="recarregar-pedidos" class="icon-btn">⟳</button>
            </div>

            <div class="table-container">
                <table class="data-table pedidos-table">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Cliente</th>
                            <th>Data</th>
                            <th>Valor Total</th>
                            <th>Forma</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="pedidos-tbody"></tbody>
                </table>
            </div> 
            
        </section>

        <section id="clientes" class="page">

            <div class="page-actions">
                <button title="Novo Cliente" id="btn-novo-cliente" data-action="novo-cliente" class="btn primary">
                    + Novo Cliente
                </button>
            </div>

            <div id="form-cliente" class="form-container hidden">
                <h2>Novo Cliente</h2>

                <div class="form-group">
                    <label>Nome <span class="campos-obrigatorios">*</span></label>
                    <input id="cliente-nome" type="text">
                </div>

                <div class="form-group">
                    <label>Telefone <span class="campos-obrigatorios">*</span></label>
                    <input id="cliente-telefone" type="text">
                </div>

                <div class="form-group">
                    <label>Endereço</label>
                    <input id="cliente-endereco" type="endereco">
                </div>

                <button title="Cancelar Cliente" id="btn-cancelar-cliente" data-action="cancelar-cliente" class="btn cancel">
                    Cancelar
                </button>

                <button title="Salvar Cliente" id="btn-salvar-cliente" data-action="salvar-cliente" class="btn primary">
                    Salvar Cliente
                </button>
            </div>

            <div class="page-header">
                <H1>Clientes</H1>

                <button title="Recarregar Clientes" id="btn-recarregar-clientes" data-action="recarregar-clientes" class="icon-btn">⟳</button>
            </div>

            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Endereço</th>
                            <th id="Ações">Ações</th>
                        </tr>
                    </thead>

                    <tbody id="clientes-tbody">
                    </tbody>
                </table>
            </div>
        </section>

        <section id="produtos" class="page">

            <div class="page-actions">
                <button title="Novo Produto" id="btn-novo-produto" data-action="novo-produto" class="btn primary">
                    + Novo Produto
                </button>
            </div>

            <div id="form-produto" class="form-container hidden">
                <h2>Novo Produto</h2>

                <div class="form-group">
                    <label>Nome <span class="campos-obrigatorios">*</span></label>
                    <input id="produto-nome" type="text">
                </div>

                <div class="form-group">
                    <label>Descrição</label>
                    <input id="produto-descricao" type="text">
                </div>

                <div class="form-group">
                    <label>Valor de Compra <span class="campos-obrigatorios">*</span></label>
                    <input id="produto-valor_compra" type="number" step="0.01">
                </div>

                <div class="form-group">
                    <label>Valor de Venda <span class="campos-obrigatorios">*</span></label>
                    <input id="produto-valor_venda" type="number" step="0.01">
                </div>

                <div class="form-group">
                    <label>Categoria</label>
                    <input id="produto-categoria" type="text">
                </div>

                <button title="Cancelar Produto" id="btn-cancelar-produto" data-action="cancelar-produto" class="btn cancel">
                    Cancelar
                </button>

                <button title="Salvar Produto" id="btn-salvar-produto" data-action="salvar-produto" class="btn primary">
                    Salvar Produto
                </button>
            </div>

            <div class="page-header">
                <H1>Produtos</H1>

                <button title="Recarregar Produtos" id="btn-recarregar-produtos" data-action="recarregar-produtos" class="icon-btn">⟳</button>
            </div>

            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Valor de Compra</th>
                            <th>Valor de Venda</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody id="produtos-tbody">
                    </tbody>
                </table>
            </div>

        </section>

        <section id="estoque" class="page">

            <div class="page-header">
                <h1>Estoque</h1>

                <button title="Recarregar Estoque" id="btn-recarregar-estoque" data-action="recarregar-estoque" class="icon-btn">⟳</button>
            </div>

            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Estoque Atual</th>
                            <th>Estoque Mínimo</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody id="estoque-tbody">
                    </tbody>
                </table>
            </div>

        </section>


    </main>

    <script type="module" src="../static/main.js"></script>
    
</body>

</html>